h1 {
	margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Capriola', sans-serif;
    text-align: center;
}

table {
    border-style: hidden;
}

ul { 
    list-style-type: none;
}

a:link{
    color:purple;
}
a:visited {
    color: purple;
}
a:hover {
    color: purple;
}
a:visited {
    color: purple;
}

.name {
    margin-top: 0px;
    margin-bottom: 0px;
    color: purple;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 600% !important;

}

.jumbotron {
    padding-bottom: 25px;
    padding-top: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: white;
    color: purple;
    z-index: 1 !important;
    opacity: 0.9;
}

.col-md-12 {
	padding-left: 0px;
    padding-right: 0px;
}

.container {
    max-width: 1400px;

}

.table{
    text-align: center;
    background-color: white;
    opacity:0.9;
    border-bottom-style: solid;
    border-width:5px;
    border-color:purple;
}

tr{
    border-bottom-style: solid;
    border-width:5px;
    border-color:purple;
}

td{
    vertical-align: middle !important;
    height: 100px;
    font-weight:bold;
    font-size:22px;
    color:purple;
    padding: 20px !important;
}

th{
    text-align:center;
    font-weight: bold;
    font-size: 20px;
    color:purple;
}

.btn-block {
    background-color: transparent;
    border: 5px transparent;
}

.back-button {
    color: purple;
    vertical-align: text-bottom;
    font-size: 15px;
    font-family: 'Permanent Marker', cursive;
}

.bar-name{
    font-size: 28px;
}

#table-tron{
    margin:auto;
    max-width: 1300px;
    padding:0px;
}
